/***/
/*{*/
/*    font-family: josephin-bold;*/
/*}*/
/*@font-face {*/
/*    font-family: "josephin-bold";*/
/*    src: url("../fonts/JosefinSans-Regular.ttf");*/

/*}*/

.my-caption
{
    height: 200px;
    top: 130px;
    background: rgba(0,0,0,0.5);
}

@media screen and (max-width:600px)
{
    .my-caption
    {
        height: 200px;
        top: 15px;
        background: rgba(0,0,0,0.5);
    }
}
.go-home
{
margin-left:500px;
}
.result-card
{
height: 300px;
}